/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/FTF Icon.png') no-repeat center top;
  background-size: contain;
  body{
    /*Radial Gradient*/
    background-image: radial-gradient(#EA52F8 5.66%, #0066FF 94.35%);
    /*Linear Gradient*/
    background-image: linear-gradient(45.34deg, #EA52F8 5.66%, #0066FF 94.35%);
  }
}
