/* ==========================================================================
Main page styles
========================================================================== */
//.hipster {
//  display: inline-block;
//  width: 100%;
//  height: 496px;
//  background: url('../../../content/images/FTF Icon.png') no-repeat center top;
//  background-size: contain;
//    ///*Linear Gradient*/
//    //background-image: linear-gradient(45.34deg, #EA52F8 5.66%, #0066FF 94.35%);
//}

.hipster {
  display: inline-flex;
  height: 400px;
  margin: auto 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 300px;
  //background: url('../../../content/images/FamilyIcon.png') no-repeat center top;
  background-size: 100%;
  background-color: transparent;
}

h2 {
  font-style: italic;
  align-content: center;
  //color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  align-content: flex-end;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  background-color:#ffc477;
  border-radius:11px;
  border:2px solid #eeb44f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:8px 18px;
  text-decoration:none;
  text-shadow:0px 1px 0px #cc9f52;
}

.logo{
  width: 100px;
  display: inline-flex;
}

.logo img{
  margin: auto 5px;
  float: right;
  width: 150px;
  height: 38px;
}
