/* ==========================================================================
Main page styles
========================================================================== */
//.hipster {
//  display: inline-block;
//  width: 100%;
//  height: 496px;
//  background: url('../../../content/images/FTF Icon.png') no-repeat center top;
//  background-size: contain;
//    ///*Linear Gradient*/
//    //background-image: linear-gradient(45.34deg, #EA52F8 5.66%, #0066FF 94.35%);
//}

.hipster {
  display: inline-flex;
  height: 400px;
  margin: auto 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 300px;
  //background: url('../../../content/images/FamilyIcon.png') no-repeat center top;
  background-size: 100%;
  background-color: transparent;
}

h2 {
  font-style: italic;
  //color: black;
}

.logo{
  width: 100px;
  display: inline-flex;
}

.logo img{
  margin: auto 5px;
  float: right;
  width: 150px;
  height: 38px;
}
